body{
    background-color: slategray;
}

aside{
    background-color: lightgray;
    padding: 10px;
}

.navbar {
    position: relative;
    height: 100px;
}
.title {
    position: absolute;
    left: 50%;
    display: block;
    color: whitesmoke;
}

.card-deck{
    padding: 0;
    margin: auto, 0;
}

.card{
    background-color: skyblue;
}
img{
    height: 35px;
}

.main-content{
    position: relative;
}

h2{
    margin: auto, 20px;
    padding: 10px;
}

#day0{
    border-style: solid;
    border-width: 2px;
    border-color: lightslategray;
    background-color: skyblue;
}

#searchHistory{
    margin-top: 10px;
}
.searchedCities{
    border-style: solid;
    border-width: 2px;
    border-color: lightslategray;
    padding: 2px;
}

.uv-favorable{
    background-color: green;
}

.uv-moderate{
    background-color: yellow;
}
.uv-high{
    background-color: orange;
}
.uv-very-high{
    background-color: red;
}
.uv-severe{
    background-color: purple;
}  

footer{
    border-top-style: solid;
    border-top-color: lightseagreen;
    border-top-width: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    font-size: 20px;
    font-family: 'Bilbo', 'Times New Roman', Times, serif;
    text-align: center;
}